body > .container {
  padding-top: 60px;
}

.agent {
  background-color: #e7e7e7;
  height: 100px;
  width: 100px;
  display: inline-block;
  color: #777;
}

.announcementbuttons {
  display: block;
  margin: 20px 0px;
}

button#announcement1 {
  text-decoration: none;
}

ol.robotrules {
  margin-top: 20px;
}

#introduction, #problem-outline, #simulation, #theory{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.agentcontainer {
  margin-top: 40px;
}
